.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
	display: block;
  padding: 15px;
	margin: auto;

}

  .cards {
    padding: 10px;
      border: thin solid var(--dark-color);
      margin:5px
    }

  .card {
      display: inline-block;
      padding: 20px;
      background-color: var(--dark-color);
      color: var(--yellow-color);
      margin: 8px
    }

h1{
	background: #222;
	margin: 0;
	padding: 10px;
	color: #fff;
	font-weight: 300;
	text-align: center;
}

h2{
  margin: 10px
}
h3{
	background: #222;
	margin: 0;
	padding: 10px;
	color: #fff;
	font-weight: 300;
	text-align: center;
}